<header>
    <nav>
        <img src="./logo/uni_logo.png">
        <a href="/">My Gamebook</a>

        <ul>
            <li><a href="/participants">Participants</a></li>
            <li><a href="/participants/New"> I CONSENT </a></li>
        </ul>
        
    </nav>

</header>
