<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>NavBar</title>
  </head>

  <body>
    <div class="page-wrapper">
      <nav class="navbar navbar-light bg-light">
        <a
          class="float-right"
          href="/help"
          title="Help Page"
          onclick="displayMessage()"
        >
          Help
        </a>

        <div style="text-align: right;">
          Researcher: Amy Hu <br />
          E-mail:
          <a href="mailto:ah343@st-andrews.ac.uk">ah343@st-andrews.ac.uk</a>
        </div>
      </nav>
    </div>

    <script>
      const displayMessage = () => {
        window.onbeforeunload = function () {
          return "Are you sure you want to leave?";
        };
      };
    </script>
  </body>
</html>
