<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>View for Intro to scenario Questions</title>
<div class="container">
  <br />
  <div id="instruction" class="flex-center flex-column">
    <div class="hero-unit">
      <h1 class="font-weight-light text-center">Part 2</h1>
      <h3 class="font-weight-light text-justify">
        In this part you will be presented with a set of everyday reasoning
        scenario that require a decision to be made. For each point of the
        scenario, a set of actions are suggested for you.
        <b
          >Please carefully read each scenario and the suggested set of actions,
          and select the one you think would be most appropriate.</b
        >
      </h3>
      <hr />
    </div>
  </div>
</div>
