<link rel="stylesheet" href="../css/style.css" />

<body>
<% if(message) { %>
<div class="container">
  <div class="flex-cener flex-column">
    <h1 class="text-justify text-center"><%= message %></h1>
    <hr >
    <a class="btn" href="./gamebook/part1"> TRY AGAIN </a>
  </div>
</div>

<% } else { %>
<p>No error message.</p>
<% } %>

</body>

<!-- <div class="container">
        <p> Error please </p>
    </div>
    <h1>Test</h1> -->


