<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Control condition path</title>
<div class="container">
  <%- include('_scenario_intro.ejs') %>

  <a class="btn" href="./gamebook/scenario/1" style="float: right;">
    CONTINUE</a
  >
</div>

<script></script>
