<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Experimental Condition Path</title>
<div class="container">
  <%- include('_scenario_intro.ejs') %>

  <a class="btn" href="./gamebook/cScenario/1" style="float: right;">
    CONTINUE</a
  >
</div>
