<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
<h1><%= participant_id %></h1>
<%- include('_scenario_intro.ejs') %> 


<a class="btn" href="./gamebook/scenario/1" style="float: right;"> CONTINUE</a>
</div>

<script>

    

</script>