<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usability Experience</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="instruction" class="flex-cener flex-column">
        <div class="hero-unit">
          <h1 class="font-weight-light">Part 3</h1>
          <h3 class="font-weight-light text-justify"> 
              The following questions give you the opportunity to inform us of your experience and reactions to the system. 
              Your responses will help us understand what aspects of the survey system might have supported or disrupted its usability. 
              Please read each statement and indicate how strongly you agree or disagree with the statement. If a statement does not apply to you, select NA. Any comments to elaborate on your answers are welcome
          </h3>
          <hr>
      </div>
    </div>

    <!-- <script src="client.js"></script> -->
  </body>
</html>



