<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usability</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <form
      class="add-usability-form"
      id="usability_input"
      action="/gamebook/usability"
      method="POST"
    >
      <div class="container">
        <br />
        <div id="instruction" class="flex-center flex-column">
          <div class="form-group">
            <h1 class="font-weight-light text-center">Part 3</h1>
            <h4 class="font-weight-light text-justify">
              The following questions give you the opportunity to inform us of
              your experience and reactions to the survey system. Your responses
              will help us understand what aspects of the system might have
              supported or disrupted its usability.

              <br /><br />
              <b
                >Please read each statement and indicate how strongly you agree
                or disagree with the statements, ranging on a scale from '1' (Strongly Agree) to '7' (Strongly Disagree). 
                If a statement does not apply to you select 'N.A.'. Any comments to elaborate your answers are
                welcome.</b
              >
            </h4>
            <hr />

            <div class="d-flex justify-content-center">
              <span class="font-weight-bold purple-text mr-2 mt-1"
                >Strongly Agree</span
              >
              <div class="range-field w-75">
                <h4 class="font-weight-light text-centre">
                  <label for="usability1"
                    >Overall, I am satisfied with how easy it is to use this
                    system.</label
                  >
                </h4>
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="7"
                  step="1"
                  id="usability1"
                  name="usability1"
                  value="0"
                  oninput="amount1.value=usability1.value"
                  onchange="labelChange(this.id)"
                />
                <output
                  class="font-weight-bold"
                  id="amount1"
                  name="amount1"
                  for="usability1"
                  >N.A.</output
                >
              </div>
              <span class="font-weight-bold purple-text ml-2 mt-1"
                >Strongly Disagree</span
              >
            </div>
            <hr />

            <div class="d-flex justify-content-center">
              <span class="font-weight-bold purple-text mr-2 mt-1"
                >Strongly Agree</span
              >
              <div class="range-field w-75">
                <h4 class="font-weight-light text-centre">
                  <label for="usability2"
                    >I felt comfortable using this system.</label
                  >
                </h4>
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="7"
                  step="1"
                  id="usability2"
                  name="usability2"
                  value="0"
                  oninput="amount2.value=usability2.value"
                  onchange="labelChange(this.id)"
                />
                <output
                  class="font-weight-bold"
                  id="amount2"
                  name="amount2"
                  for="usability2"
                  >N.A.</output
                >
              </div>
              <span class="font-weight-bold purple-text ml-2 mt-1"
                >Strongly Disagree</span
              >
            </div>
            <hr />

            <div class="d-flex justify-content-center">
              <span class="font-weight-bold purple-text mr-2 mt-1"
                >Strongly Agree</span
              >
              <div class="range-field w-75">
                <h4 class="font-weight-light text-centre">
                  <label for="usability3"
                    >The information was effective in helping me complete the
                    tasks and scenarios.</label
                  >
                </h4>
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="7"
                  step="1"
                  id="usability3"
                  name="usability3"
                  value="0"
                  oninput="amount3.value=usability3.value"
                  onchange="labelChange(this.id)"
                />
                <output
                  class="font-weight-bold"
                  id="amount3"
                  name="amount3"
                  for="usability3"
                  >N.A.</output
                >
              </div>
              <span class="font-weight-bold purple-text ml-2 mt-1"
                >Strongly Disagree</span
              >
            </div>
            <hr />

            <div class="d-flex justify-content-center">
              <span class="font-weight-bold purple-text mr-2 mt-1"
                >Strongly Agree</span
              >
              <div class="range-field w-75">
                <h4 class="font-weight-light text-centre">
                  <label for="usability4"
                    >The organization of information on the system screens was
                    clear.</label
                  >
                </h4>
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="7"
                  step="1"
                  id="usability4"
                  name="usability4"
                  value="0"
                  oninput="amount4.value=usability4.value"
                  onchange="labelChange(this.id)"
                />
                <output class="font-weight-bold" id="amount4" for="usability4"
                  >N.A.</output
                >
              </div>
              <span class="font-weight-bold purple-text ml-2 mt-1"
                >Strongly Disagree</span
              >
            </div>
            <hr />

            <div class="d-flex justify-content-center">
              <span class="font-weight-bold purple-text mr-2 mt-1"
                >Strongly Agree</span
              >
              <div class="range-field w-75">
                <h4 class="font-weight-light text-centre">
                  <label for="usability5"
                    >I liked using the interface of the system.</label
                  >
                </h4>
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="7"
                  step="1"
                  id="usability5"
                  name="usability5"
                  value="0"
                  oninput="amount5.value=usability5.value"
                  onchange="labelChange(this.id)"
                />
                <output class="font-weight-bold" id="amount5" for="usability5"
                  >N.A.</output
                >
              </div>
              <span class="font-weight-bold purple-text ml-2 mt-1"
                >Strongly Disagree</span
              >
            </div>
            <hr />

            <div class="d-flex justify-content-center">
              <span class="font-weight-bold purple-text mr-2 mt-1"
                >Strongly Agree</span
              >
              <div class="range-field w-75">
                <h4 class="font-weight-light text-centre">
                  <label for="usability6"
                    >Overall, I am satisfied with this system.</label
                  >
                </h4>
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="7"
                  step="1"
                  id="usability6"
                  name="usability6"
                  value="0"
                  oninput="amount6.value=usability6.value"
                  onchange="labelChange(this.id)"
                />
                <output class="font-weight-bold" id="amount6" name="amount6"
                  >N.A.</output
                >
              </div>
              <span class="font-weight-bold purple-text ml-2 mt-1"
                >Strongly Disagree</span
              >
            </div>
            <hr />
            <br />
            <h4 class="font-weight-light text-centre">
              <label for="usability6">
                Please use this space for addtitional comments to elaborate your
                answers.
              </label>
            </h4>
            <input
              type="text"
              name="comment"
              id="comment"
              placeholder="E.g. issues, suggestions, etc. "
            />
            <hr />
            <button class="btn" type="submit">
              SUBMIT MY DATA AND COMPLETE THE SURVEY
            </button>
          </div>
          <br />
        
            <!-- <p>
              **If you have changed your mind and wish to withdraw my
              participation, please confirm on the link below:**
              <br />
            </p> -->
          </form>
        </div>
      </div>
    </form>

    <script>
      const labelChange = (id) => {
        let usabilityRange = document.getElementById(`${id}`);
        let number = id.substring(id.length - 1, id.length);
        let amount = document.getElementById(`amount${number}`);

        if (usabilityRange.value === "0") {
          amount.value = "N.A.";
        }
      };

      const displayWarning = () => {
        window.onbeforeunload = function () {
          return "Are you sure you want to withdraw your participation? All data and responses will be removed.";
        };
      };
    </script>
  </body>
</html>
