<div id="input">

  <label>Please indicate your age group:</label>
  <select id="age_group" name="age_group">
      <option value="1">18-24</option>
      <option value="2">25-34</option>
      <option value="3">35-44</option>
      <option value="4">44-64</option>
      <option value="5">65 or older</option>
      <option value="6">Rather Not Say</option>
  </select>
  <br>
  <label>Please indicate your gender</label>
  <select id="gender" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="others">Others</option>
      <option value="na">Rather Not Say</option>
  </select>

  <!-- <button id="submit" onClick="lotteryGame()">PLAY</button> -->
</div>
