<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="home" class="flex-cener flex-column">
        <img src="../logo/uni_logo.png" />
        <div class="hero-unit">
          <h1 class="font-weight-light">
            Mitigating Cognitive Biases with Computational Argumentation
          </h1>
          <a href="https://ah343.host.cs.st-andrews.ac.uk/Consent.pdf" download
            >Download Participation Information Sheet in pdf-Format</a
          >
          <hr />
          <div class="alert alert-secondary" role="alert">
            What is the study about?
          </div>
          <p class="text-justify">
            We invite you to participate in a study that aims to understand the
            benefits of asking critical questions in mitigating the effects of
            cognitive biases when making decisions. Critical questions are
            formulated following computational models of argumentation. Drawing
            from philosophical studies of human argumentation, this research
            project aims examine the potential benefits of intelligent systems
            that could support and improve human reasoning and decision-making
            in critical contexts.
          </p>
          <div class="alert alert-secondary" role="alert">
            Why have I been invited to take part?
          </div>
          <p class="text-justify">
            This study is open to everyone of age 18+, who wishes to contribute
            to our research project.
          </p>
          <div class="alert alert-secondary" role="alert">
            Do I have to take part?
          </div>
          <p class="text-justify">
            This information sheet has been written to help you decide if you
            would like to take part. It is up to you and you alone whether you
            wish to take part. If you do decide to take part
            <b
              >you will be free to withdraw at any time without providing a
              reason, and with no negative consequences</b
            >.
          </p>
          <div class="alert alert-secondary" role="alert">
            What would I be required to do?
          </div>
          <p class="text-justify">
            You will be asked to complete a questionnaire in form of a gamebook
            that engages you in an everyday reasoning scenario.
            <b
              >This will require you to read and respond to a few questions
              related to decisions that you might take in the presented
              scenario</b
            >. The narrative can unfold in various ways depending on your
            choices or answers given. The scenario contains approximately 4 to 7
            questions consisting of open and multiple-choice questions that we
            anticipate will take 30 minutes to complete. Additionally, you will
            be asked to provide basic demographic information such as gender,
            education, age and to share your experience on the usability of the
            gamebook system. The information you provide will be anonymous and
            held confidentially by researcher and supervisor involved in this
            project.
          </p>
          <div class="alert alert-secondary" role="alert">
            Are there any risks associated with taking part?
          </div>
          <p class="text-justify">
            <b
              >There are no risks associated with participating in this study
              that exceed the risks of an everyday office activity </b
            >. The questionnaire contains open questions and you are kindly
            invited to avoid sharing any personal information in these answers.
            Personal information will be deleted at collection if accidentally
            disclosed. As with any online related activity, the risk of a breach
            is always possible, however. To the best of our ability, your
            participation will remain confidential.
          </p>
          <div class="alert alert-secondary" role="alert">
            Informed Consent
          </div>
          <p class="text-justify">
            It is important that you are able to give your informed consent
            before taking part in this study and you will have the opportunity
            to ask any questions in relation to the research before you provide
            your consent.
          </p>
          <div class="alert alert-secondary" role="alert">
            What information about me will you be collecting?
          </div>
          <p class="text-justify">
            You will be asked to provide basic demographic information such as
            gender, education, and age. The survey will then proceed with the
            scenario questions and you will be asked to respond to multiple
            choice and open questions in a made-up scenario.
          </p>
          <div class="alert alert-secondary" role="alert">
            How will my data be securely stroed, who will have access to it?
          </div>
          <p class="text-justify">
            Your data will be stored in an <b>ANONYMISED</b> form, which means
            that parts of your data will be edited or deleted such that no-one,
            including the researchers, could use any reasonably available means
            to identify you from the data. Your un-anonymised data will then be
            permanently deleted. Your data will be stored in a University secure
            server and only the researchers listed in this study will be able to
            access it.
          </p>
          <div class="alert alert-secondary" role="alert">
            How will my data be used, and in what form will it be shared
            further?
          </div>
          <p class="text-justify">
            Your research data will be analysed as part of the research study.
            It will then be published in a research publication. It will also be
            shared i.e. by placing it in a database accessible by other
            researchers. If shared (published and/or placed in a database
            accessible by others), your data will be in an
            <b>ANONYMISED</b> form, which means that no-one could use any
            reasonably available means to identify you from the data. It is
            expected that the project to which this research relates will be
            finalised by September 2020.
          </p>
          <div class="alert alert-secondary" role="alert">
            When will my data be destroyed?
          </div>
          <p class="text-justify">
            Participants’ data held by the researcher will be kept indefinitely
            in accordance with the safeguards detailed by law.
          </p>
          <div class="alert alert-secondary" role="alert">
            Will my participation be confidential?
          </div>
          <p class="text-justify">
            Yes, your participation will only be known to the researchers listed
            above.
          </p>
          <div class="alert alert-secondary" role="alert">
            Use of your personal data and data protection rights
          </div>
          <p class="text-justify">
            The University of St Andrews (the ‘Data Controller’) is bound by the
            UK 2018 Data Protection Act and the General Data Protection
            Regulation (GDPR), which require a lawful basis for all processing
            of personal data (in this case it is the ‘performance of a task
            carried out in the public interest’ – namely, for research purposes)
            and an additional lawful basis for processing personal data
            containing special characteristics (in this case it is ‘public
            interest research’). You have a range of rights under data
            protection legislation. For more information on data protection
            legislation and your rights visit
            <a href="https://www.st-andrews.ac.uk/terms/data-protection/rights/"
              >https://www.st-andrews.ac.uk/terms/data-protection/rights/</a
            >. For any queries, email
            <a href="mailto:dataprot@st-andrews.ac.uk"
              >dataprot@st-andrews.ac.uk</a
            >. You will not be able to withdraw your data after you have
            submitted your answers in the survey. This is because your data is
            anonymised, and we will not know which data is yours.
          </p>
          <div class="alert alert-secondary" role="alert">
            Ethical Approvals
          </div>
          <p class="text-justify">
            This research proposal has been scrutinised and subsequently granted
            ethical approval by the University of St Andrews Teaching and
            Research Ethics Committee.
          </p>
          <div class="alert alert-secondary" role="alert">
            What should I do if I have concerns about this study?
          </div>
          <p class="text-justify">
            In the first instance, you are encouraged to raise your concerns
            with the <a href="mailto:ah343@st-andrews.ac.uk">researcher</a>.
            However, if you do not feel comfortable doing so, then you are
            welcome to contact the Research Supervisor
            <a href="mailto:a.toniolo@st-andrews.ac.uk">Dr Alice Toniolo</a> or
            the
            <a href="mailto:ethics-cs@st-andrews.ac.uk"
              >School Ethics Committee</a
            >. A full outline of the procedures governed by the University
            Teaching and Research Ethics Committee is available
            <a
              href="https://www.st-andrews.ac.uk/research/ethics/humans/ethical-guidance/complaints/"
              >here</a
            >.
          </p>
          <a href="https://ah343.host.cs.st-andrews.ac.uk/Consent.pdf" download
            >Download Participation Information Sheet in pdf-Format</a
          >
          <hr />

          <form class="needs-validation" novalidate>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="invalidCheck"
                  required
                />
                <label class="form-check-label" for="invalidCheck">
                  I have read and understood the information sheet provided.
                </label>
                <div class="invalid-feedback">
                  You must agree before continuing.
                </div>
              </div>
            </div>
            <button class="btn">
              <a id="consent_btn" type="submit" href="/participants/new" style="color: #00539b">
                I CONSENT TO TAKE PART IN THIS STUDY</a
              >
            </button>
          </form>
          <br>
          <hr />
          <a class="btn" href="/">Return to Main Page</a>
        </div>
      </div>
    </div>
    <!-- <script src="client.js"></script> -->
    <!-- <script>
      const checker = document.getElementById("confirmation-check");
      const consent_btn = document.getElementById("consent_btn");
      checker.onchange = function () {
        consent_btn.disabled = !!this.checked;
      };
    </script> -->
    <!-- 
    <form class="was-validated">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
          <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
          <div class="invalid-feedback">Example invalid feedback text</div>
        </div> -->

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";
        window.addEventListener(
          "load",
          function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName("needs-validation");
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (
              form
            ) {
              form.addEventListener(
                "click",
                function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            });
          },
          false
        );
      })();
    </script>

    <!-- <form>
          <label for="scenario">Scenario</label>
          <textarea type="text" id="scenario" name="scenario"></textarea>
          <label for="Question">Question</label>
          <input type="text" id="question" name="question" />
          <button id="submit-btn">SUBMIT</button>
        </form> -->
  </body>
</html>
