<h1>Hello New Participant</h1>

<form action='/participants' method='POST'>

    <%- include('_form_fields.ejs') %>

    <a href="/participants">CANCEL</a>
    <button type="submit">CONTINUE</button>
</form>