<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <img src="../logo/uni_logo.png" />
        <div class="hero-unit">
          <h1 class="font-weight-light">Hello, nice to see you here!</h1>
          <hr />
          <p class="text-justify-text-lg">
            This study is being conducted as part of our research project in the
            School of Computer Science.
          </p>

          <div class="alert alert-secondary" role="alert">
            Mitigating Cognitive Biases Using Computational Argumentation
          </div>

          <p class="text-justify">
            You are being invited to participate in a research study being done
            by Amy Hu supervised by Dr Alice Toniolo from the School of Computer
            Science at the University of St Andrews. The purpose of this study
            is to understand the benefits of asking critical questions to avoid
            cognitive biases when making decisions. Critical questions are
            formulated following computational models of argumentation. Drawing
            from philosophical studies of human argumentation, this research
            project aims to develop intelligent systems that support and improve
            human reasoning and decision-making in critical contexts.
          </p>
          <p class="text-justify">
            We anticipate that the survey will take approximately 30 minutes to
            complete. You will be asked to provide basic demographic information
            such as gender, education, and age which will be collected in an
            anonymous way. The survey will then proceed with a number of
            scenarios and will ask to respond to multiple choice and open
            questions regarding the various scenarios.
          </p>

          <p class="text-justify">
            Further details, including information about data protection, are
            available in the Participant Information Sheet that you can download
            when following the link at the end of this page.

            <b
              >If you are interested in taking part, please read the Participant
              Information Sheet and keep a copy before starting the
              questionnaire.</b
            >
          </p>

          <p class="text-justify">
            <b
              >If you have any questions, please email me at
              <a href="mailto:ah343@st-andrews.ac.uk">ah343@st-andrews.ac.uk</a
              >.Your participation is entirely voluntary, and you can withdraw
              at any time. You are free to omit any question. Please make sure
              to not include any personal information in open questions.</b
            >
          </p>
          <hr />
          <p>Please follow the link below:</p>
          <a class="btn" href="./gamebook">Participant Information Sheet</a>
        </div>
      </div>
    </div>

    <!-- <script src="client.js"></script> -->
  </body>
</html>
