<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <!-- <img src="../logo/uni_logo.png" /> -->
        <div class="hero-unit">
          <h1 class="font-weight-light">Hi, how can I help you...?</h1>
          <hr />

          <div class="alert alert-secondary" role="alert">
            I AM HAVING TECHNICAL ISSUES!!!
          </div>

          <p class="text-justify text-center">
            Please email me at
            <a href="mailto:ah343@st-andrews.ac.uk">ah343@st-andrews.ac.uk</a>
            describing the technical issues you encountered, so we can hopefully
            get them fixed as soon as possible!
          </p>

          <p class="text-justify"></p>

          <div class="alert alert-secondary" role="alert">
            I NEED MORE INFORMATION ABOUT THE STUDY.
          </div>

          <p class="text-justify">
            General details, including information about data protection, are
            available in the
            <a
              href="https://ah343.host.cs.st-andrews.ac.uk/Consent.pdf"
              download
              >Participation Informtion Sheet</a
            >
            that you can download. You are welcome to keep a copy before
            starting the questionnaire.
          </p>

          <p class="text-justify">
            <b
              >For any further questions, please email me at
              <a href="mailto:ah343@st-andrews.ac.uk">ah343@st-andrews.ac.uk</a
              >.Your participation is entirely voluntary, and you can withdraw
              at any time. You are free to omit any question.</b
            >
          </p>
          <hr />
          <p>Please follow the link below if you would like to participate: </p>
          <a class="btn" href="./gamebook">Go to Hompepage</a>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
