<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodbye Page</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <img src="../logo/uni_logo.png" />
        <div class="hero-unit">
          <h1 class="font-weight-light">Thank you for participating!</h1>
          <hr />
          <p class="text-center">
            If you have any further questions, please email me at
            <a href="mailto:ah343@st-andrews.ac.uk">ah343@st-andrews.ac.uk</a>
            or feel free to have another look at the
            <a
              href="https://ah343.host.cs.st-andrews.ac.uk/Consent.pdf"
              download
              >Participant Information Sheet</a
            >.
          </p>
          <hr />
          <br />
          <!-- <p class="font-weight-light">
            ** If you have changed your mind and wish to withdraw your
            participation, please follow the link below **
          </p>
          <a class="btn" href="./gamebook/delete/ ">Participant Information Sheet</a> -->
        </div>
      </div>
    </div>
  </body>
</html>
